{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Programs</title>
    <link rel="stylesheet" href="{% static 'main/main.css' %}">
</head>
<body>
    <div class="programs-page">
        <h1 class="page-title">Study Programs</h1>
        <div class="programs-grid">
            {% for program in programs %}
                <div class="program-card">
                    <img src="{{ program.coursePicture.url }}" class="program-image" alt="{{ program.courseName }}">
                    <div class="program-content">
                        <h2 class="program-title">{{ program.courseName }}</h2>
                        <ul class="program-details">
                            <li>Academic level: {{ program.studyLevel }}</li>
                            <li>Language: {{ program.courseLanguage }}</li>
                            <li>Available Places: {{ program.numberOfPlaces }}</li>
                        </ul>
                        <a href="{% url 'editor' program.courseCode %}" class="edit-button">
                            Edit Interview Template
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>